p {
  font-family: sans-serif;
}
#actions,
#initial,
#distilled,
#notebook-shit {
  width: 50%;
}
#initial, #distilled {
  float: left;
}
#notebook-shit, #actions {
  text-align: center;
}
#notebook-shit {
  float: left;
}
#actions {
  float: right;
}
#distilled p {
  word-break: break-all;
}
#distilled p.initial {
  color: grey;
  cursor: pointer;
}
#initial p, #distilled div {
  border-bottom: 1px solid gray;
}
p {
  min-height: 20px;
  padding: 0 10px;
  width: 95%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
